.bg-img{
    background-color: red;
    position: relative; 
   width: 100%; 
}
.prekrivka{
    background-color: red;
    
}
.naslov{
    position: absolute; 
   top: 50%; 
   left: 0; 
   width: 100%; 
}

.naslovKomode { 
   /* color: white; 
    font: bold 45px/60px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
  /*  background: rgba(0, 0, 0, 0.7);
    padding: 10px;*/
    font-size: 50px;
 }

 .text-gif{
    /*padding: 5rem 1.5rem;*/
    font-size: 30px;
    line-height: 100%;
    text-align: justify;
    
 }

 .opis-slike{
    margin-top: 50px;
    padding: 70px 0;
    width: 80%;
    
    padding: 10px;
 }

 .red1{
     background-color: rgb(212, 212, 212);
     margin-left: 0px;
     margin-right: 0px;
 }

 .slikaBeleKomode{
    text-align: center;

 }

 @media screen and (min-width: 992px) {
   .naslovKomode {
     font-size: 50px;
   }
 }

 @media screen and (max-width: 991px) {
   .naslovKomode {
      
     font-size: 30px;
   }
   .text-gif{
      font-size: 15px;
      
   }
 }